$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
   background-image: asset-url('logo.png');
   background-repeat: no-repeat;
   height: 400px;
   background-color: #FFDEAD;
}

.check_box {
  box-shadow: none;
}

.record-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

footer {
  margin-top: 45px;
  margin-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.value {
  padding-left: 20px;
  padding-bottom: 20px;
}
