<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">The money tracking app for kids</a>
      by <a href="http://linkedin.com/sorayaqz">Qing Zhang</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "about"  %>
        </li>
      </ul>
    </nav>
  </footer>
</div>
